<% for column in Training.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @training.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @training %> |
<%= link_to 'Back', :action => 'list' %>
