  <table border="0" cellspacing="0" cellpadding="0" width="90%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">Kemaskini Kakitangan</font></b></td>
    </tr>
  </table>
  <br>

<%= start_form_tag :action => 'update', :id => @staff %>
  <%= render :partial => 'form' %>
  <br>
  <div align="center"><%= submit_tag 'Save' %></center>
<%= end_form_tag %>
