<!--incremental search setting-->
<link rel="stylesheet" type="text/css" href="/stylesheets/incremental-search.css" />
<script src="/javascripts/event.js" type="text/javascript"></script>
<script src="/javascripts/incremental-search-course.js" type="text/javascript"></script>
<!--incremental search setting end-->

<script src="/javascripts/prototype.js" type="text/javascript"></script>
<script src="/javascripts/popupmenu/isohunt.js" type="text/javascript"></script>

  <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">TAMBAH KELAYAKAN TENAGA PENGAJAR </font></b></td>
    </tr>
  </table>
  <br>

<%= start_form_tag :action => 'create_qualification', :id=>@trainer %>
  <%= render :partial => 'qualification_form' %>
  <div align="center"><%= submit_tag "Simpan" %></center>
<%= end_form_tag %>
