
<frameset cols="200,*" frameborder="NO" border="0" framespacing="0">
  <% @userole.each do |userole| %>
    <%= userole.name %>
  <% end %>
<frame src="/menu/<%=@user.roles.last.name.downcase.gsub(' ', '_')%>" name="leftFrame" scrolling="AUTO" noresize  frameborder="NO">
<frame src="/main/home" name="main" frameborder="NO" scrolling="AUTO">
      </frameset>

      <noframes><body>

        </body></noframes>
