<div align=center>
<%= error_messages_for 'hostel_status' %>
</div>

<!--[form:state]-->
  <table width="60%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    <tr>
      <td width="30%" align="right"><strong>Nama :</strong></td>
      <td>&nbsp;
        <%= text_field 'hostel_status', 'description', :size => 40, :maxlength => 100  %></td>
    </tr>
  </table>
  
<!--[eoform:state]-->


