<% for column in HostelStatus.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @hostel_status.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @hostel_status %> |
<%= link_to 'Back', :action => 'list' %>
