<div align="center"><%= error_messages_for 'acct_status' %></div>

<!--[form:acct_status]-->
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">

<tr>
	<td align=right><b>Keterangan :</b></td>
	<td><%= text_field 'acct_status', 'description', :maxlength=>30, :size=>30  %></td>	
</tr>
</table>

<!--[eoform:acct_status]-->

