<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
  <tr>
    <td width="86%" height="21" align="center" bgcolor="#999999">
      <strong><font color="#FFFFFF">KEMASKINI KANDUNGAN SURAT LANTIKAN</font></strong></td>
  </tr>
</table>
<br>


<%= form_for(@course_implementation, :url => {:action => 'cetak_surat_lantik_all', :format => :pdf}, :html => {:trainer_id => @trainer}) do |f| %>
    <table width="100%">
      <tr>
        <td width="100%">
          <%= render :partial => 'edit_surat_lantik_all' %>
        </td>
      </tr>
      <tr>
        <td>
          <div align="center">
            <br><input type="button" value="Papar" onclick="GoSubmit(document.forms[0])">
          </div>
        </td>
      </tr>
    </table>
    <br>
<% end %>

<script src="/javascripts/form_validator.js"></script>
<script>

    function GoSubmit(df) {

        //if (!checkSelection(strRegExp,$('contact_officer_id'),'Pegawai Untuk Dihubungi')) return false;
        //if (!checkSelection(strRegExp,$('contact_officer_id2'),'Pegawai Untuk Dihubungi')) return false;
        //if (!checkInput(anythingRegExp,$('penyelaras_jawatan'),'Jawatan Pegawai Untuk Dihubungi')) return false;
        //if (!checkInput(anythingRegExp,$('dateline'),'Tarikh tutup')) return false;
        //if (!checkInput(anythingRegExp,$('hour_closed1'),'Waktu Majlis Penutup')) return false;
        //if (!checkInput(anythingRegExp,$('hour_minute1'),'Waktu Majlis Penutup')) return false;
        //if (!checkInput(anythingRegExp,$('hour_closed2'),'Waktu Majlis Penutup')) return false;
        //if (!checkInput(anythingRegExp,$('hour_minute2'),'Waktu Majlis Penutup')) return false;
        df.submit()

    }

</script>

