<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">TAMBAH TENAGA PENGAJAR</font></th>
    </tr>
    <tr>
    <td>&nbsp;</td>
    </tr>
    <tr>
    <th>
	<a href="javascript: history.back()">Kembali</a>
    </th>
    </tr>
  </table>
  <BR>

<form name="t_form" method="post" action="/trainer" onsubmit="return GoSubmit(t_form)">

  <%= render :partial => 'form' %>
  <BR>
   <div id="apply_button" align="center" >
  <%= submit_tag "Simpan" %>
  </div>
</form>
<script src="/javascripts/form_validator.js"></script>
<script>

function GoSubmit(df) {

	if (!checkInput(icnumRegExp,$('#profile_ic_number'),'No KP')) return false;
	if (!checkSelection(strRegExp,$('#profile_title_id'),'Gelaran')) return false;
	if (!checkInput(anythingRegExp,$('#profile_name'),'Nama Penuh Pemohon')) return false;
	if (!checkSelection(strRegExp,$('#profile_gender_id'),'Jantina')) return false;
	if (!checkSelection(strRegExp,$('#profile_religion_id'),'Agama')) return false;
	if (!checkSelection(strRegExp,$('#profile_marital_status_id'),'Taraf Perkahwinan')) return false;
	if (!checkSelection(strRegExp,$('#profile_race_id'),'Keturunan')) return false;

	return true;
}

</script>

