	<script>
	function checkFormDulu(df) {
		var is_apply_checked = 0
		var idx = 0;

		if (df.course_implementation_code.value=="") {
			alert('Sila Masukkan Kod Kursus');
			df.course_implementation_code.focus()
			return false;
		}

		df.action  = "/trainer/" + df.trainer_id.value + "/offer"
		return true;
	}
	function GoEditSuratLantik(df) {
	    //var df = document.list
	    df.action = "/trainer/<%=@course_implementation.id if @course_implementation%>/edit_surat_lantik"
	    df.submit()
	}
	</script>

	<form method="post" name="incremental" action="" onsubmit="return checkFormDulu(document.incremental)">
 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">PILIHAN KURSUS UNTUK SURAT PELANTIKAN PENCERAMAH</font></b></td>
    </tr>
 </table>
  <br>
<div align="center">Kod Kursus : 
		<input type="hidden" id="trainer_id" name="trainer_id" value="<%=params[:trainer_id] %>">
		<input type="text" id="course_implementation_code" name="course_implementation_code" value="<%=@course_implementation.code if @course_implementation%>" onkeyup="this.value=this.value.toUpperCase()">
<input type="submit" value="Cari" class="btn60">
</div>
<% if @course_implementation %>
<%= render :partial => 'surat_lantikan'%>

<div align="center"><br />
    <input type="button" name="Submit" value="Seterusnya, kemaskini surat lantikan&gt;&gt;" onclick="GoEditSuratLantik(document.incremental)">
</div>
<%end%>
</form>