<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">TAMBAH BIDANG KURSUS</font></b></td>
    </tr>
</table>
<br>


  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"> <a href="/course_type/list"><u>Kembali ke Bidang Kursus</u></a></td>
    </tr>
  </table>
  <br>
  
<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  
  <br>
  <div align="center">
  <%= submit_tag "Save" %>
  </div>
<%= end_form_tag %>

