<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
  <tr>
    <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">TAMBAH UJIAN</font></th>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th>
      <a href="javascript: history.back()">Kembali</a>
    </th>
  </tr>
</table>
<BR>

<%= form_for(@quiz) do %>
<%= render :partial => 'form' %>
<BR>
<div align=center>
  <%= submit_tag "Simpan" %>
</div>
<% end %>