<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">KEMASKINI PROFIL <%=h @profile.name %></font></th>
    </tr>
     <tr>
   <td>&nbsp;</td>
    </tr>
   </table>
<%#= form_tag ({:action => 'update', :profile_id => @profile.id}, :enctype => 'multipart/form-data') do %>
<%#= form_tag({:action => 'update', :profile_id => @profile.id}, :multipart => true) do |f| %>
<%= form_for(@profile, :multipart => true) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <BR>
  <div align=center>
  <%= submit_tag 'Simpan' %>
  </div>
<% end %>