<% for column in QuizAnswer.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @quiz_answer.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @quiz_answer %> |
<%= link_to 'Back', :action => 'list' %>
