
Sukacita dimaklumkan pegawai daripada jabatan tuan memohon kursus seperti berikut:

	Nama	: <%=@name%>
	Jawatan	: <%=@jawatan%>
	Kursus	: <%=@course_name%> (<%=@course_code%>)
	Tarikh	: <%=@course_start%> hingga <%=@course_end%>

Sebarang pertanyaan sila hubungi espek@instun.gov.my


Terima kasih.

Administrator eSPEK
