
Sukacita dimaklumkan tuan telah terpilih untuk menyertai kursus
<%=@course_name%> (<%=@course_code%>), <%=@course_start%> hingga <%=@course_end%>.
Surat tawaran akan dikeluarkan oleh pihak INSTUN.
Sila sahkan kehadiran tuan di http://espek.instun.gov.my


Terima kasih kerana memohon kursus di INSTUN.

Administrator eSPEK
