
Dukacita dimaklumkan kursus berikut:
<%=@course_name%> (<%=@course_code%>), <%=@course_start%> hingga <%=@course_end%>.
telah ditunda kepada tarikh yang akan dimaklumkan kemudian.
Segala kesulitan amatlah dikesali.

Sebarang pertanyaan sila hubungi penyelaras kursus seperti berikut:
	1. <%=@name%>
	   Email: <%=@email%>

	2. <%=@name2%>
	   Email: <%=@email2%>

Terima kasih kerana memohon kursus di INSTUN.

Administrator eSPEK
