Perkara : KEMASKINI  MAKLUMAT PROFILE PESERTA KURSUS INSTUN

Tuan/Puan,
Sukacita dimaklumkan  maklumat profile tuan/puan di dalam sistem Pengurusan Kursus INSTUN telah dikemaskini.

Nama : <%= @profile_name%>
Pegawai yang mengemaskini : <%= @officer_name%>
Jawatan/Gred : <%= @officer_post%>
Jabatan : <%= @officer_dept%>
Tarikh Kemaskini: <%= @date_updated%>

Terima kasih, 
Administrator eSPEK
**email ini dijana automatik daripada sistem eSPEK. Maklumbalas tidak diperlukan**

