

Sistem eSPEK telah berjaya menukarkan kata laluan anda pada <%= @sent_on %>

Keterangan akaun adalah seperti berikut:

  No. Kad Pengenalan : <%= @login %>
  Kata Laluan: <%= @password %>
  
Terima Kasih.

Pentadbir Sistem eSPEK.

