<%= error_messages_for 'nationality_status' %>

<!--[form:nationality_status]-->
<p><label for="nationality_status_code">Code</label><br/>
<%= text_field 'nationality_status', 'code'  %></p>

<p><label for="nationality_status_description">Description</label><br/>
<%= text_field 'nationality_status', 'description'  %></p>
<!--[eoform:nationality_status]-->

