<%= error_messages_for 'scale_type' %>

<!--[form:scale_type]-->
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
<tr>
	<td align=right><b>Keterangan :</b></td>
	<td><%= text_field 'scale_type', 'description', :maxlength=>100, :size=>30  %></td>	
</tr>
</table>
<!--[eoform:scale_type]-->