<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">TAMBAH JADUAL WAKTU (PDF)</font></b></td>
    </tr>
</table>
<br>
<div align=center>
<%#= start_form_tag :action => 'create', '',:name=>"ci_form", :onsubmit=>"return GoSubmit(df)" %>
<form name=ci_form method=post action="/course_implementations/save_timetable/<%=@course_implementation.id%>" enctype="multipart/form-data" onsubmit="return GoSubmit(ci_form)">
  <%= render :partial => 'add_timetable' %>
  <br><input type="button" value="Selesai" onclick="self.close()"> <%= submit_tag "Simpan" %>
</form>

<script src="/javascripts/form_validator.js"></script>
<script>
function GoSubmit(df) {

if (!checkFormat(fileRegExp,$('course_implementation_file'),'Hanya Format PDF dibenarkan')) return false;

	return true;
}

</script>
