<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><strong><font color="#FFFFFF">JANA SURAT PELAWAAN </font></strong></td>
    </tr>
</table>
<br>

<%= start_form_tag :action => 'cetak_surat_iklan', :id => @course_implementation, :course_id => @course %>
  <%= render :partial => 'edit_surat_iklan' %>
  <br>
  <div align="center">
  <br><%= submit_tag 'Papar' %>
  </div>
<%= end_form_tag %>

