<div align="center"><%= show_error_messages(@course_department) %></div>

<!--[form:course_department]-->
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
<tr>
	<td align=right><b>Kod Bahagian :</b></td>
	<td><%= text_field 'course_department', 'code', :size => 5, :maxlength => 5  %></td>	
</tr>
<tr>
	<td align=right><b>Keterangan :</b></td>
	<td><%= text_field 'course_department', 'description', :size => 30, :maxlength => 250  %></td>	
</tr>
</table>
<!--[eoform:course_department]-->

