<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">MAKLUMAT BAHAGIAN</font></th>
    </tr>
    <tr>
    <td>&nbsp;</td>
    </tr>
    <tr>
    <th>
    <%= link_to 'Edit', :action => 'edit', :id => @course_department %> |
	<a href="javascript: history.back()">Kembali</a>
    </th>
    </tr>
  </table>
  <BR>
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="2" bgcolor="#eeeeee">
	<tr>
	<td align=right width=30%><b>Kod Bahagian :</b></td>
	<td><%=h @course_department.code %></td>
	</tr>
	<tr>
	<td align=right><b>Keterangan :</b></td>
	<td><%=h @course_department.description %></td>	
	</tr>
	</table>
	