<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">Permohonan Tempahan Kemudahan Kursus</font></b></td>
    </tr>
</table>
<br>
<div align=center>

<%= form_tag({:action=> "create"} , { :name => 'form', :onSubmit => "return check_form(this);"}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Simpan" %>
<% end %>
</div>

