<%= error_messages_for 'employment' %>

<!--[form:employment]-->
<p><label for="employment_employment_date">Employment date</label><br/>
<%= date_select 'employment', 'employment_date'  %></p>
<!--[eoform:employment]-->

