<% for column in Employment.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @employment.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @employment %> |
<%= link_to 'Back', :action => 'list' %>
