<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en_US">
<head>
<title>Sistem Pengurusan Kursus :: INSTITUT TANAH DAN UKUR NEGARA(INSTUN)</title>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
<link rel="StyleSheet" href="/stylesheets/global.css" type="text/css" />
<link rel="StyleSheet" href="/stylesheets/dtree.css" type="text/css" />
<script type="text/javascript" src="/javascripts/dtree.js"></script>
<style>
body {
	background-color: #FFFFFF;
	}
</style>
</head>
	
<body bgcolor="#FFFFFF">	
<br>
<div align="center"><img src="/images/menu3.jpg"></div>
<%= render :partial => 'header'%>

<script type="text/javascript">
		<!--

		d = new dTree('d');
		
		d.config.useCookies=false;
		d.config.useLines=false;
		
		d.icon.root = "/images/menutree/home.gif";
		//d.icon.root = "/images/menutree/kpmlogo.gif";
		d.config.target = "main";
		
	
		
		//d.add(40, 0, 'Permohonan Kursus', '', 'Pengurusan Permohonan','main','/images/menutree/folder.gif');
		//d.add(42, 40, 'Senarai Pemohon', '/course_applications/select_course', 'Senarai Pemohon','main');


		d.add(70, 0, 'Pengurusan Domestik', '', 'Domestik','main','/images/menutree/folder.gif');
		d.add(72, 70,'Daftar Masuk', '/hostels/chkin_by_course', 'Check-in','main');
		d.add(720, 70,'Daftar Keluar', '/hostels/find_checkout', 'Check-out','main');
		d.add(71, 70,'Asrama', '/hostels/', 'Asrama','main');
		d.add(710, 70,'Senarai Bilik Ditutup', '/hostels/list_tutup', 'Senarai Bilik Ditutup','main');
		d.add(710, 70,'Sewa Asrama', '/hostels/new_penghuni', 'Sewa Check-in ','main');
		//d.add(72, 70,'Daftar Masuk', '/hostels/chkin_by_course', 'Check-in','main');
		//d.add(720, 70,'Daftar Keluar', '/hostels/find_checkout', 'Check-out & Carian Penghuni','main');
		//d.add(72, 70,'Laporan Penginapan', '/hostel_profiles/list_penghuni', 'Laporan Penghuni Asrama','main');
		d.add(74, 70,'Senarai Tempahan', '/reservations/listp', 'Senarai Tempahan Domestik','main');
		d.add(730, 70,'Carian Penghuni', '/hostels/find_guest', 'Carian Penghuni','main');
		d.add(740, 70,'Rekod Penggunaan Bilik', '/hostels/rekod_guna_bilik', 'Carian Penghuni','main');
		//d.add(73, 70,'Penyelenggaraan', '/hostels/', 'Asrama','main');
		
		
		d.add(0,-1,' eSPEK : Domestik');
        d.add(290,0,'Lihat Profil','/profiles/view','','main','/images/menutree/page.gif');
		//d.add(290,0,'Lihat Profil','/profiles/view/<%=session[:user].profile.id%>','','main','/images/menutree/page.gif');
	
		//d.add(300, 0, 'Laporan', '', 'Laporan Eksekutif','main','/images/menutree/folder.gif');
        //d.add(301, 300, 'Penginapan', '/report/statistik', 'Statistik Bilangan Kursus','main');
		
		document.write(d);
        
        d.o(0)
		//-->
	</script>

</div>

<br>
<div align="center">
| <a target="main" href="/profiles/edit_password">Tukar Kata Laluan</a> |
</div>

<br>
</body></html>
