<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en_US">
  <head>
    <title>Sistem Pengurusan Kursus :: INSTITUT TANAH DAN UKUR NEGARA(INSTUN)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
    <link rel="StyleSheet" href="/stylesheets/global.css" type="text/css" />
    <link rel="StyleSheet" href="/stylesheets/dtree.css" type="text/css" />
    <script type="text/javascript" src="/javascripts/dtree.js"></script>
    <style>
      body {
        background-color: #FFFFFF;
      }
    </style>
  </head>

  <body bgcolor="#FFFFFF">
    <br>
    <div align="center"><img src="/images/logo-menu.jpg"></div>
    <%= render :partial => 'header'%>
    <script type="text/javascript">
      <!--
      var user_id = <%= session[:user].id.to_s %>;
      d = new dTree('d');
		
      d.config.useCookies=false;
      d.config.useLines=false;
		
      d.icon.root = "/images/menutree/home.gif";
      d.config.target = "main";
		  d.add(70, 0, 'Maklumat Eksekutif', '', 'Maklumat Eksekutif','main','/images/menutree/folder.gif');
		  d.add(701, 70,'Populasi Peserta', '/report_tables/application_and_attendance', 'Check-in','main');
      d.add(702, 70,'Peserta Mengikut Jantina', '/report_tables/peserta_jantina', 'Check-in','main');
		  d.add(703, 70,'Peserta Mengikut Negeri', '/report_tables/summary_group_by_states', 'Check-in','main');
		
      d.add(0,-1,' eSPEK : Pegawai Eksekutif');
      d.add(290,0,'Lihat Profil','/profiles/view','','main','/images/menutree/page.gif');
		
      document.write(d);
        
      d.o(0)
      //-->
    </script>

  </div>

  <br>
  <div align="center">
    | <a target="main" href="/profiles/edit_password">Tukar Kata Laluan</a> |
  </div>

  <br>
</body></html>
