
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en_US">
<head>
<title>Sistem Pengurusan Kursus :: INSTITUT TANAH DAN UKUR NEGARA(INSTUN)</title>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
<link rel="StyleSheet" href="/stylesheets/global.css" type="text/css" />
<link rel="StyleSheet" href="/stylesheets/dtree.css" type="text/css" />
<script type="text/javascript" src="/javascripts/dtree.js"></script>
<style>
body {
	background-color: #FFFFFF;
	}
</style>
</head>
	
<body bgcolor="#FFFFFF">	
<br>
<div align="center"><img src="/images/logo-menu.jpg"></div>
<%= render :partial => 'header'%>

<script type="text/javascript">
		<!--

		d = new dTree('d');
		
		d.config.useCookies=false;
		d.config.useLines=false;
		
		d.icon.root = "/images/menutree/home.gif";
		//d.icon.root = "/images/menutree/kpmlogo.gif";
		d.config.target = "main";
		

		d.add(40, 0,  'Seksyen Keselamatan', '', 'Pengurusan Seksyen Keselamatan','main','/images/menutree/folder.gif');
		d.add(41, 40, 'Senarai Status Makluman', '/notifications/list', 'Senarai Status Makluman','main');
		d.add(42, 40, 'Senarai Bilik Kuliah', '/notifications/senaraibilik', 'Senarai Bilik Kuliah','main');
		d.add(43, 40, 'Laporan Statistik', '/notifications/report', 'Laporan Statistik Penggunaan Bilik Kuliah','main');
		
		d.add(0,-1,' eSPEK : Keselamatan');
		
		d.add(290,0,'Lihat Profil','/profiles/view','','main','/images/menutree/page.gif');

		document.write(d);

		d.o(0)

		//-->
	</script> 

</div>
<br>
<div align="center">
| <a target="main" href="/profiles/edit_password">Tukar Kata Laluan</a> |
</div>

<br>
</body></html>
