<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
  <tr>
    <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">KEMASKINI SKALA PENILAIAN</font></th>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th>
      <%= link_to 'Lihat', :action => 'show', :id => @scale %> |
      <a href="javascript: history.back()">Kembali</a>
    </th>
  </tr>
</table>
<BR>

<%=form_for(@scale) do |f|%>
  <%= render :partial => 'form' %>
  <BR>
  <div align=center>
    <%= submit_tag 'Edit' %>
  </div>
<% end %>
