<div align="center"><%#= error_messages_for 'marital_status' %></div>
<!--[form:marital_status]-->
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
<tr>
	<td align=right><b>Kod Status :</b></td>
	<td><%= text_field 'marital_status', 'code', :maxlength=>1, :size=>1  %></td>	
</tr>
<tr>
	<td align=right><b>Keterangan :</b></td>
	<td><%= text_field 'marital_status', 'description', :maxlength=>30, :size=>30  %></td>	
</tr>
</table>

<!--[eoform:marital_status]-->

