<% for column in Timetable.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @timetable.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @timetable %> |
<%= link_to 'Back', :action => 'list' %>
