<%= error_messages_for 'hostel_block' %>

<!--[form:hostel_block]-->
<p><label for="hostel_block_code">Code</label><br/>
<%= text_field 'hostel_block', 'code'  %></p>

<p><label for="hostel_block_description">Description</label><br/>
<%= text_field 'hostel_block', 'description'  %></p>
<!--[eoform:hostel_block]-->

