<h1>Editing hostel_block</h1>

<%= start_form_tag :action => 'update', :id => @hostel_block %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @hostel_block %> |
<%= link_to 'Back', :action => 'list' %>
