<% for column in Qualification.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @qualification.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @qualification %> |
<%= link_to 'Back', :action => 'list' %>
