<div align="center"><%#= error_messages_for 'relationship' %></div>

<!--[form:relationship]-->

<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
  <tr>
    <td align=right><b>Keterangan :</b></td>
    <td><%= f.text_field 'description', :maxlength=>50, :size=>50  %></td>
  </tr>
</table>
<!--[eoform:relationship]-->

