<% for column in HostelFacilityType.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @hostel_facility_type.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @hostel_facility_type %> |
<%= link_to 'Back', :action => 'list' %>
