<%= error_messages_for 'trainer_content' %>

<!--[form:trainer_content]-->
<p><label for="trainer_content_description">Description</label><br/>
<%= text_field 'trainer_content', 'description'  %></p>
<!--[eoform:trainer_content]-->

