<% for column in TrainerContent.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @trainer_content.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @trainer_content %> |
<%= link_to 'Back', :action => 'list' %>
