<%= error_messages_for 'course_evaluation' %>

<!--[form:course_evaluation]-->
<p><label for="course_evaluation_remarks">Remarks</label><br/>
<%= text_area 'course_evaluation', 'remarks'  %></p>
<!--[eoform:course_evaluation]-->

