<% for column in CourseEvaluation.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @course_evaluation.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @course_evaluation %> |
<%= link_to 'Back', :action => 'list' %>
