<%= error_messages_for 'quiz_type' %>

<!--[form:quiz_type]-->
<p><label for="quiz_type_description">Description</label><br/>
<%= text_field 'quiz_type', 'description'  %></p>
<!--[eoform:quiz_type]-->

