<% for column in PostIndividu.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @post_individu.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @post_individu %> |
<%= link_to 'Back', :action => 'list' %>
