<%= error_messages_for 'quiz_subjective' %>

<!--[form:quiz_subjective]-->
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
<tr>
	<td valign=top align=right><b>Jawapan :</b></td>
	<td><%= text_area 'quiz_subjective', 'answer', :rows => 5  %>
	<%= hidden_field 'quiz_subjective', 'quiz_question_id', :value=> @quiz_question.id %></td>	
</tr>

</table>
<!--[eoform:quiz_subjective]-->

