<h1>Editing relative</h1>

<%= start_form_tag :action => 'update', :id => @relative %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @relative %> |
<%= link_to 'Back', :action => 'list' %>
