<% for column in Relative.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @relative.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @relative %> |
<%= link_to 'Back', :action => 'list' %>
