<div align="center"><%#= error_messages_for 'state' %></div>

<!--[form:state]-->
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
  <tr>
    <td align=right><b>Kod Negeri :</b></td>
    <td><%= f.text_field 'code', :maxlength=>2, :size=>2  %></td>
  </tr>
  <tr>
    <td align=right><b>Keterangan :</b></td>
    <td><%= f.text_field 'description', :maxlength=>40, :size=>40  %></td>
  </tr>
</table>
<!--[eoform:state]-->

