<%= show_error_messages(@course_status) %>

<!--[form:state]-->
  <table width="80%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">


    <tr>
      <td align="right"><strong>Nama :</strong></td>
      <td>&nbsp;
        <%= text_field 'course_status', 'description', :size => 30, :maxlength => 50  %></td>
    </tr>
  </table>
  
<!--[eoform:state]-->

