<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">EDITING COURSE FIELD</font></b></td>
    </tr>
</table>
<br>

<%= start_form_tag :action => 'update', :id => @course_status %>
  <%= render :partial => 'form' %>
  <br>
  <div align="center">
  <%= submit_tag 'Save' %>
  </div>
<%= end_form_tag %>

