<% for column in CourseStatus.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @course_status.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @course_status %> |
<%= link_to 'Back', :action => 'list' %>
