<% if reports.any? %>
<tr><td>&nbsp;</td></tr>
<tr>
  <td align="center" valign="middle">
    <input type="radio" name="filter_show" id="filter_show_table" value="table" checked="1"  onclick="toggle_chart()" />
      <label for="filter_status_all">Table</label>
      <input type="radio" name="filter_show" id="filter_show_chart" value="chart" onclick="toggle_chart()" />
      <label for="filter_status_pending">Chart</label>
  </td>
</tr-->
<% end %>
