<%= error_messages_for 'trainer_evaluation' %>

<!--[form:trainer_evaluation]-->
<p><label for="trainer_evaluation_remarks">Remarks</label><br/>
<%= text_area 'trainer_evaluation', 'remarks'  %></p>
<!--[eoform:trainer_evaluation]-->

