<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">TAMBAH SUMBER KEMUDAHAN</font></b></td>
    </tr>
</table>
<br>
<div align=center>

<%=form_for(@facility, :url => createf_facilities_path , :html => { :name => 'form', :onsubmit=>"return check_form(this);" }) do %>
  <%= render :partial => 'form1' %>
  <%= submit_tag "Simpan" %>
<% end%>
</div>