<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
  <tr>
    <td width="86%" height="21" align="center" bgcolor="#999999"><strong><font color="#FFFFFF">KEMASKINI KANDUNGAN SURAT PENGESAHAN KEHADIRAN </font></strong></td>
  </tr>
</table>
<br>
<div align="center"><b><font color="">
      Pilih </font>Peserta &#8250; <font color="blue">Kemaskini Isi Surat</font> &#8250; Jana Surat</b>
  <br>
  <%=form_for(@course_implementation, :url => jana_surat_pengesahan_pdf_course_management_path(:id => @course_implementation.id, :course_id => @course)) do |f|%>
  <%#= start_form_tag :action => 'jana_surat_pengesahan_pdf',  %>
    <%= render :partial => 'edit_surat_pengesahan' %>
    <br>
  </div>
  <div align="center">
    <br><input type="button" value="Papar" onclick="GoSubmit(document.forms[0])">
  </div>
<% end %>

<script src="/javascripts/form_validator.js"></script>
<script>

  function GoSubmit(df) {

    //if (!checkSelection(strRegExp,$('contact_officer_id'),'Pegawai Untuk Dihubungi')) return false;
    //if (!checkInput(anythingRegExp,$('penyelaras_jawatan'),'Jawatan Pegawai Untuk Dihubungi')) return false;
	
    df.submit()

  }

</script>


