<div align="center"><%= error_messages_for 'methodology' %></div>

<!--[form:methodology]-->
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">

<tr>
	<td align=right><b>Keterangan :</b></td>
	<td><%= text_field 'methodology', 'description', :maxlength=>250, :size=>30  %></td>	
</tr>
</table>

<!--[eoform:methodology]-->

