<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">TAMBAH METODOLOGI</font></th>
    </tr>
  </table>
  <BR>


<%= start_form_tag :action => 'create_popup' %>
  <%= render :partial => 'form' %>
  <BR>
  <div align=center>
  <%= submit_tag "Simpan" %>
  </div>
<%= end_form_tag %>