<div align=center><%= error_messages_for 'permission' %></div>

<!--[form:permission]-->

<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
<tr>
	<td align=right><b>Nama :</b></td>
	<td><%= text_field 'permission', 'name'  %></td>	
</tr>
<tr>
	<td align=right><b>Keterangan :</b></td>
	<td><%= text_field 'permission', 'info'  %></td>	
</tr>
</table>
<!--[eoform:permission]-->

