<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">TEMPAHAN ASRAMA (PENCERAMAH)</font></th>
    </tr>
  </table>
<BR>
<form method="post" action="/reservations/trainer_book_create/<%=@course_implementation.id%>" onsubmit="return GoSubmit(this)">
  <%= render :partial => 'trainer_book_form' %>
  <div align="center">
  <%= submit_tag "Simpan" %>
  </div>
</form>
