
<%#= start_form_tag :action => 'update', :id => @course_application %>
<%=form_for(@course_application, :html => {:multipart => true,:onsubmit=>"return GoSubmit(ca_form)", :name=>"ca_form" }) do |f|%>
  <%= render :partial => 'form' %>

  <br>
  <div id="apply_button" align="center" style="visibility: visible">
    <%= submit_tag 'Simpan' %></div>
<% end %>
<script src="/javascripts/form_validator.js"></script>
<script>

  function GoSubmit(df) {

    if (!checkInput(anythingRegExp,document.getElementById('course_implementation_code'),'Kod Kursus')) return false;
    if (!checkInput(icnumRegExp,document.getElementById('profile_ic_number'),'No KP')) return false;
    if (!checkSelection(strRegExp,document.getElementById('profile_title_id'),'Gelaran')) return false;
    if (!checkInput(anythingRegExp,document.getElementById('profile_name'),'Nama Penuh Pemohon')) return false;
    if (!checkInput(dateDayformat,document.getElementById('d_dob'),'Hari Tarikh Lahir')) return false;
    if (!checkInput(dateMonthformat,document.getElementById('m_dob'),'Bulan Tarikh Lahir')) return false;
    if (!checkInput(dateAllYearformat,document.getElementById('y_dob'),'Tahun Tarikh Lahir')) return false;
    if (!checkSelection(strRegExp,document.getElementById('profile_gender_id'),'Jantina')) return false;
    if (!checkSelection(strRegExp,document.getElementById('profile_religion_id'),'Agama')) return false;
    if (!checkSelection(strRegExp,document.getElementById('profile_marital_status_id'),'Taraf Perkahwinan')) return false;
    if (!checkSelection(strRegExp,document.getElementById('profile_race_id'),'Keturunan')) return false;
    if (!checkFormat(imageRegExp,document.getElementById('profile_picture'),'Hanya Format JPG/JPEG dibenarkan')) return false;
    if (!checkInput(anything,document.getElementById('profile_fax'),'Nombor Fax')) return false;

    //if (!checkInput(anythingRegExp,$('course_application_supervisor_name'),'Perakuan Ketua Jabatan(Nama)')) return false;
    //if (!checkInput(anythingRegExp,$('course_application_supervisor_jawatan'),'Perakuan Ketua Jabatan(Jawatan)')) return false;


    //if (!checkSelection(strRegExp,document.getElementById('course_field_id'),'Bidang')) return false;
	
    if (!document.getElementById('chkbox').checked) {
      alert('Sila sahkan pengakuan');
      document.getElementById('chkbox').focus()
      return false;
    }
    if (!document.getElementById('chkbox_ketua_jabatan').checked) {
      alert('Sila sahkan perakuan ketua jabatan');
      document.getElementById('chkbox_ketua_jabatan').focus()
      return false;
    }

    return true;
  }
</script>
