<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">CONTOH MENGISI NAMA DAN ALAMAT LENGKAP TEMPAT BERTUGAS</font></th>
    </tr>
    <tr>
    <td>&nbsp;</td>
    </tr>
 	<TABLE WIDTH=85% BORDER=1 CELLPADDING=4 CELLSPACING=3 ALIGN=CENTER>
	        <COL WIDTH=248>
	        <COL WIDTH=404>
	        <TR VALIGN=TOP>
	                <TD WIDTH=248>
	                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">Gelaran Ketua
	                        Pejabat:</FONT></P>
	                </TD>
	                <TD WIDTH=404>
	                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">Pegawai Daerah</FONT></P>
	                </TD>
	        </TR>
	        <TR VALIGN=TOP>
	                <TD WIDTH=248>
	                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">Nama Pejabat:</FONT></P>
	                </TD>
	                <TD WIDTH=404>
	                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">Pejabat Daerah dan
	                        Tanah Kuantan</FONT></P>
	                </TD>
	        </TR>
	        <TR VALIGN=TOP>
	                <TD WIDTH=248>
	                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">Alamat:</FONT></P>
	                </TD>
	                <TD WIDTH=404>
	                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">25200 Kuantan</FONT></P>
	                </TD>
	        </TR>
			<TR VALIGN=TOP>
	                <TD WIDTH=248>
	                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">&nbsp;</FONT></P>
	                </TD>
	                <TD WIDTH=404>
	                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">&nbsp;</FONT></P>
	                </TD>
	        </TR>
				<TR VALIGN=TOP>
		                <TD WIDTH=248>
		                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">&nbsp;</FONT></P>
		                </TD>
		                <TD WIDTH=404>
		                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">&nbsp;</FONT></P>
		                </TD>
		        </TR>
	        <TR VALIGN=TOP>
	                <TD WIDTH=248>
	                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">Negeri:</FONT></P>
	                </TD>
	                <TD WIDTH=404>
	                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">Pahang</FONT></P>
	                </TD>
	        </TR>
	        <TR VALIGN=TOP>
	                <TD WIDTH=248>
	                        <P ALIGN=LEFT><BR>
	                        </P>
	                </TD>
	                <TD WIDTH=404>
	                        <P ALIGN=LEFT><BR>
	                        </P>
					</TD>
					        </TR>
					        <TR VALIGN=TOP>
					                <TD WIDTH=248>
					                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">Gelaran Ketua
					                        Pejabat:</FONT></P>
					                </TD>
					                <TD WIDTH=404>
					                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">Pengarah</FONT></P>
					                </TD>
					        </TR>
					        <TR VALIGN=TOP>
					                <TD WIDTH=248>
					                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">Nama Pejabat:</FONT></P>
					                </TD>
					                <TD WIDTH=404>
					                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">Jabatan Ukur dan
					                        Pemetaan Pahang</FONT></P>
					                </TD>
					        </TR>
					        <TR VALIGN=TOP>
					                <TD WIDTH=248>
					                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">Alamat:</FONT></P>
					                </TD>
					                <TD WIDTH=404>
					                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">Jalan Tengku
					                        Muhammad</FONT></P>
					                </TD>
					        </TR>
							<TR VALIGN=TOP>
					                <TD WIDTH=248>
					                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">&nbsp;</FONT></P>
					                </TD>
					                <TD WIDTH=404>
					                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">25050 Kuantan</FONT></P>
					                </TD>
					        </TR>
							<TR VALIGN=TOP>
					                <TD WIDTH=248>
					                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">&nbsp;</FONT></P>
					                </TD>
					                <TD WIDTH=404>
					                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">&nbsp;</FONT></P>
					                </TD>
					        </TR>
					        <TR VALIGN=TOP>
					                <TD WIDTH=248>
					                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">Negeri:</FONT></P>
					                </TD>
					                <TD WIDTH=404>
					                        <P ALIGN=LEFT><FONT FACE="Verdana, sans-serif">Pahang</FONT></P>
					                </TD>
					        </TR>
					</TABLE>
					

  </table>
