<script>
  function rewritePopupContent(controller, objid, objname) {
    $('#popmenu').css({"width" : 230})
    $('#popmenu').html("<ul>" +
      "<li><a href=\"" + controller + "/show/" + objid + "\">&nbsp;&nbsp;Lihat</a>" +
      "<li><font color=\"#aaaaaa\">&nbsp;&nbsp;Kemaskini</font>" +
      "<li><a href=\"" + controller + "/copy_and_new/" + objid + "\">&nbsp;&nbsp;Salin</a>" +
      "<li><font color=\"#aaaaaa\">&nbsp;&nbsp;Padam</font>" +
      "<hr size=1>" +
      "<li><a href=\"" + "/timetables" + "/list/" + objid + "\">&nbsp;&nbsp;Jadual Waktu</a>" +
      //"<li><font color=\"#aaaaaa\">&nbsp;&nbsp;Tempahan Asrama</font>" +
    //"<li><a href=\"" + controller + "/calendar/" + objid + "\">&nbsp;&nbsp;Kalendar Tahunan</a>" +
    "<hr size=1>" +
      "<li><font color=\"#aaaaaa\">&nbsp;&nbsp;Tambah Permohonan</font>" +
      "<li><a href=\"" + "/course_applications" + "/all/" + objid + "\">&nbsp;&nbsp;Lihat Senarai Pemohon</a>" +
      "<li><font color=\"#aaaaaa\">&nbsp;&nbsp;Jana Surat Tawaran</font>" +
      //"<li><a href=\"javascript: ExportCsvAll('" + controller + "','export_csv_all', " + objid + ")\">&nbsp;&nbsp;Print Surat Tawaran</a>" +
    "</ul>")
     
  }

  function rewritePopupContentNoRestraint(controller, objid, objname) {
    $('#popmenu').css({"width" : 230})
    $('#popmenu').html("<ul>" +
      "<li><a href=\"" + controller + "/show/" + objid + "\">&nbsp;&nbsp;Lihat</a>" +
      "<li><a href=\""  + controller + "/edit/" + objid + "\">&nbsp;&nbsp;Kemaskini</a>" +
      "<li><a href=\"" + controller + "/copy_and_new/" + objid + "\">&nbsp;&nbsp;Salin</a>" +
      "<li><a href=\"javascript: confirmAndDelete('"  + controller + "/destroy/" + objid + "' , '" + objname + "')\">&nbsp;&nbsp;Padam</a>" +
      "<hr size=1>" +
      "<li><a href=\"" + "/timetables" + "/list/" + objid + "\">&nbsp;&nbsp;Jadual Waktu</a>" +
      //"<li><a href=\"" + controller + "/booking_hostel/" + objid + "\">&nbsp;&nbsp;Tempahan Asrama</a>" +
    "<hr size=1>" +
      "<li><a href=\""  + "/course_applications" + "/new/" + objid + "\">&nbsp;&nbsp;Tambah Permohonan</a>" +
      "<li><a href=\""  + "/course_applications" + "/all/" + objid + "?apply_status=all" + "\">&nbsp;&nbsp;Lihat Senarai Pemohon</a>" +
      "<li><a href=\""  + "/course_applications" + "/edit_surat_tawaran_select_peserta/" + objid + "\">&nbsp;&nbsp;Jana Surat Tawaran</a>" +
      //"<li><a href=\"javascript: ExportCsvAll('" + controller + "','export_csv_all', " + objid + ")\">&nbsp;&nbsp;Print Surat Tawaran</a>" +
    //"<hr size=1>" +
    //"<li><a href=\""  + "/course_applications" + "/new/" + objid + "\">&nbsp;&nbsp;Tambah Pensyarah</a>" +
    //"<li><a href=\""  + "/course_applications" + "/new/" + objid + "\">&nbsp;&nbsp;Pilih Pensyarah</a>" +
    //"<li><a href=\""  + "/course_applications" + "/new/" + objid + "\">&nbsp;&nbsp;Tempah Fasiliti</a>" +
    "</ul>"
     )
  }

  function checkFormDulu(df) {
    var is_apply_checked = 0
    var idx = 0;

    if (df.course_implementation_code.value=="") {
      alert('Sila Masukkan Kod Kursus');
      df.course_implementation_code.focus()
      return false;
    }

    //df.action  = "/course_applications/all"
    //df.action +=  "/?course_implementation_code=" + df.course_implementation_code.value
    return true;
  }

</script>
<form method="get" name="incremental" action="/course_applications/all" onsubmit="return checkFormDulu(document.incremental)">
  <br>
  <div align="center"><br />
    Masukkan Kod Kursus :

    <input type="text" id="course_implementation_code" name="course_implementation_code" value="" onchange="this.value=this.value.toUpperCase()">
    <input type="hidden" name="apply_status" value="all">
    <input type="submit" value="Cari" class="btn60">
  </div>
  <%= '<br><div align="center" style="font-weight: bold; color: orange;">Tiada senarai</div>'.html_safe if defined? @students && @students.blank?%>
</form>
