<div align="center"> 
<a href="/course_applications/new_peserta/<%=@course_application.course_implementation.id%>">Tambah peserta seterusnya</a>
|
<!--a href="/course_management/register/<%=@course_application.course_implementation.id%>">Kembali</a-->
<a href="/course_implementations/list/<%=@course_application.course_implementation.id%>">Kembali</a></div>
<br />
<%= render :partial => "show" %>
