<h1>Editing quiz_truefalse</h1>

<%= start_form_tag :action => 'update', :id => @quiz_truefalse %>
  <%= render :partial => 'form_edit' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @quiz_truefalse %> |
<%= link_to 'Back', :action => 'list' %>
