  <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><strong><font color="#FFFFFF">SENARAI LAPORAN EKSEKUTIF </font></strong></td>
    </tr>
  </table>
  <br>
  <table width="60%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#777777">
    <tr bgcolor="#CCCCCC">
      <td colspan="2"><strong>Laporan:</strong></td>
    </tr>
    <tr bgcolor="#FFFFFF">
      <td align="right" width="2%">1.</td>
      <td width="98%"><a href="report/course_statistic">Statistik Bilangan Kursus</a></td>
    </tr>
    <tr bgcolor="#FFFFFF">
      <td align="right">2.</td>
      <td><a href="report/course_statistic">Statistik Kemajuan Pelaksanaan Kursus</a></td>
    </tr>
    <tr bgcolor="#FFFFFF">
      <td align="right">3.</td>
      <td><a href="report/course_statistic">Analisa Pencapaian Ujian Kursus Mengikut  Bahagian</a></td>
    </tr>
    <tr bgcolor="#FFFFFF">
      <td align="right">4.</td>
      <td><a href="report/course_statistic">Analisa Pencapaian Ujian Kursus </a></td>
    </tr>
    <tr bgcolor="#FFFFFF">
      <td align="right">5.</td>
      <td><a href="report/course_statistic">Analisa Penilaian Kursus (Pensyarah)</a></td>
    </tr>
    
    
    
    
    
    
    
    
    
    
    
    
    <!--   
    <tr bgcolor="#CCCCCC">
      <td colspan="2"><strong>Laporan Kursus Mengikut: </strong></td>
    </tr>
	
    <tr bgcolor="#FFFFFF"> 
      <td width="2%" align="right" bgcolor="#FFFFFF">1.</td>
      <td width="98%" bgcolor="#FFFFFF"><a href="/report/list_course_scheme">Bidang</a></td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="2%" align="right" bgcolor="#FFFFFF">2.</td>
      <td width="98%" bgcolor="#FFFFFF"><a href="/report/list_course_field">Skim</a></td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td align="right">3.</td>
      <td><a href="report/list_based_on_course_field">Analisa Peserta Kursus Mengikut Bidang</a></td>
    </tr>
-->
  </table>
