 <table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">LAPORAN JUMLAH SYARIKAT MENGIKUT BIDANG INDUSTRI</font></b></td>
    </tr>
  </table>
  <br>
  
<form action="/report/statistik_syarikat_ikut_bidang_industri">
  <table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#777777">
	<tr bgcolor="#999999">
      <td width="200" align="center" valign="top"><strong><font color="#FFFFFF">Bidang Industri </font></strong></td>
      <td width="50" valign="top" align="center" ><font color="#FFFFFF"><strong>Bilangan </strong></font></td>
    </tr>

<%
@business_natures = BusinessNature.find(:all, :order=>"description")
@x_row = Array.new
sum = 0
for business_nature in @business_natures
  this_cell = Student.find_by_sql("select count(id) as value from organizations where business_nature_id=#{business_nature.id}")
  sum = sum + this_cell.first.value.to_i
%>
    <tr bgcolor="#CCCCFF">
      <td valign="top" nowrap><%= business_nature.description.upcase %></td>
      <td valign="top" align="center"><%= this_cell.first.value %></td>
    </tr>
<%
end
%>
    <tr bgcolor="#CCCCFF">
      <td valign="top" nowrap><b>Total</b></td>
      <td valign="top" align="center"><b><%= sum %></b></td>
    </tr>

	
  </table> 
  <br />
</form> 