<div align="center"><%= error_messages_for 'title' %></div>

<!--[form:title]-->
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
<tr>
	<td align=right><b>Keterangan :</b></td>
	<td><%= text_field 'title', 'description', :maxlength=>30, :size=>30  %></td>	
</tr>
</table>
<!--[eoform:title]-->

