<div class="user_password">
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    <%= form_input :password_field, "Kata Laluan", "password", :size => 30 %>
    <%= form_input :password_field, "Pengesahan Kata Laluan", "password_confirmation", :size => 30 %>
    <% if submit %>
      <%= form_input :submit_button, 'Change password' %>
    <% end %>
  </table>
</div>                                                                          
