<meta http-equiv="refresh" content="10;URL=/user/login">

<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr>
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF"><%=flash[:notice]%></font></th>
    </tr>
    <tr>
    <td>&nbsp;</td>
    </tr>
  </table>


  <div class="form-padding">
  <table width="85%" border="0" align="center" cellpadding="3" cellspacing="1">
<tr>
<td align="center">
<BR></td>
</tr>
</table>
   
      <div align="center" class="button-bar">
		<p><font size="2"><b><%= flash[:notice] %></b></font></p>
		<strong>(Anda akan dihalakan ke Laman Daftar Masuk ....)</strong>
		<br/><br/>
		<%= link_to "Pergi Ke Laman Daftar Masuk", :controller => 'user', :action => 'login' %> 
		<br />

         </div>
  </div>
</div>

