<%= error_messages_for 'profile_status' %>

<!--[form:profile_status]-->
<p><label for="profile_status_description">Description</label><br/>
<%= text_field 'profile_status', 'description'  %></p>
<!--[eoform:profile_status]-->

