<%= error_messages_for 'place_type' %>

<!--[form:place_type]-->
<p><label for="place_type_description">Description</label><br/>
<%= text_field 'place_type', 'description'  %></p>
<!--[eoform:place_type]-->

