<%= error_messages_for 'facility_purpose' %>

<!--[form:state]-->
  <table width="90%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
    <tr>
      <td width=40% align="right"><strong>Nama :</strong></td>
      <td>&nbsp;
        <%= text_field 'facility_purpose', 'description', :size => 30, :maxlength => 250  %></td>
    </tr>
  </table>
  
<!--[eoform:state]-->

