<div align="center"><%#= error_messages_for 'country' %></div>

<!--[form:country]-->
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">

<tr>
	<td align=right><b>Kod Negara :</b></td>
	<td><%= f.text_field 'code', :maxlength=>3, :size=>3  %></td>
</tr>
<tr>
	<td align=right><b>Keterangan :</b></td>
	<td><%= f.text_field 'description', :maxlength=>40, :size=>40  %></td>
</tr>
<tr>
	<td align=right><b>Keterangan Tambahan :</b></td>
	<td><%= f.text_field 'extra', :maxlength=>2, :size=>2  %></td>
</tr>
</table>
<!--[eoform:country]-->

