<%= error_messages_for 'policy_item' %>

<!--[form:policy_item]-->
<p><label for="policy_item_code">Code</label><br/>
<%= text_field 'policy_item', 'code'  %></p>

<p><label for="policy_item_description">Description</label><br/>
<%= text_area 'policy_item', 'description'  %></p>
<!--[eoform:policy_item]-->

