<div align="center"><%#= error_messages_for 'cert_level' %></div>

<!--[form:cert_level]-->
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">

<tr>
	<td align=right><b>Keterangan :</b></td>
	<td><%= text_field 'cert_level', 'description', :maxlength=>50, :size=>50  %></td>	
</tr>
</table>
<!--[eoform:cert_level]-->

