<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">ISIKAN MAKLUMAT WAKIL </font></th>
    </tr>
    <tr>
    <td>&nbsp;</td>
    </tr>
    
  </table>
  <BR>

<form action="/user_applications/sah_tidak_hadir_selected">
  <%= render :partial => 'wakil_form' %>
  <BR>
   <div id="apply_button" align="center">
  <input type="hidden" name="course_application_ids[]" value="<%=params[:course_application_ids][0]%>">
  <input type="button" value="<<Kembali" onclick="history.back()">
  <%= submit_tag "Sahkan Tidak Hadir>>" %></div>
  <%= end_form_tag %>

