<% if @course_location.errors.any? %>
  <ul>
    <% @course_location.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<!--[form:state]-->
<table width="60%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">


  <tr>
    <td align="right"><strong>Nama :</strong></td>
    <td>&nbsp;
      <%= text_field 'course_location', 'description', :size => 40, :maxlength => 250  %></td>
  </tr>
</table>

<!--[eoform:state]-->

