<%= error_messages_for 'course_location' %>

<!--[form:state]-->
  <table width="60%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">


    <tr>
      <td align="right"><strong>Nama :</strong></td>
      <td>&nbsp;
        <%= text_field 'course_location', 'description', :size => 40, :maxlength => 250  %></td>
    </tr>
  </table>
  
<!--[eoform:state]-->

