<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
  <tr>
    <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">TAMBAH TEMPAT KURSUS</font></b></td>
  </tr>
</table>
<br>

<%= form_for(@course_location, :url => create_popup_course_locations_path) do |f| %>
  <%= render :partial => 'form' %>
  <br>
  <div align="center">
    <%= submit_tag "Simpan" %>
    <input name="submit" type="button" class="button" value="Kembali" onClick="if  (window.opener) {  window.opener.location.reload();window.close() } else { location='?'}">
  </div>
<% end  %>

