<%= error_messages_for 'attendance' %>

<!--[form:attendance]-->
<p><label for="attendance_date_attend">Date attend</label><br/>
<%= date_select 'attendance', 'date_attend'  %></p>
<!--[eoform:attendance]-->

