<table border="0" cellspacing="0" cellpadding="0" width="90%" align="center">
    <tr> 
      <th width="85%" height="20" bgcolor="#999999">
      <font color="#FFFFFF">MAKLUMAT SEWAAN ASRAMA</font></th>
    </tr>
    <tr>
    <td>&nbsp;</td>
    </tr>
  </table>
  <BR>

<%= start_form_tag :action => 'create_penghuni' %>
  <%= render :partial => 'form_penghuni' %>
  <BR>
   <div id="apply_button" align="center" >
  <%= submit_tag "Pilih Bilik" %>
  </div>
<%= end_form_tag %>
