<div align="center"><%#= error_messages_for 'gender' %></div>

<!--[form:gender]-->
<table width="95%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#eeeeee">
<tr>
	<td align=right><b>Kod Jantina :</b></td>
	<td><%= text_field 'gender', 'code', :maxlength=>1, :size=>1  %></td>	
</tr>
<tr>
	<td align=right><b>Keterangan :</b></td>
	<td><%= text_field 'gender', 'description', :maxlength=>10, :size=>10  %></td>	
</tr>
</table>
<!--[eoform:gender]-->

