<table border="0" cellspacing="0" cellpadding="0" width="95%" align="center">
  <tr>
    <td width="86%" height="21" align="center" bgcolor="#999999"><b><font color="#FFFFFF">TAMBAH JABATAN</font></b></td>
  </tr>
</table>
<br>
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center"> <a href="/places/list">Kembali ke senarai Jabatan</a></td>
  </tr>
</table>
<br>

<%= form_for(@place) do |f|%>
  <%= render :partial => 'form' %>
  <div align="center"><%= submit_tag "Simpan" %></center>
<% end  %>
